*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 80px;
    border: 1px solid saddlebrown ;
    height: 100vh;
    margin: 1%;
}
.calContainer{
    border: 1px solid salmon;
    height: 100%;
}
button{
    width: 100%;
}