* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 80px;
    border: 1px solid saddlebrown;
    height: 100vh;
    margin: 1%;
}

.calContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid salmon;
    height: 100%;
}

button {
    width: 100%;
}
.calBox{
    max-width: 219px;
}
input{
    width: 100%;
    height: 48px;
}
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#add,
#substract,
#multiply,
#divide,
#cal {
    width: 70px;
    height: 70px;
}